<h1><%= @shop.name %></h1>
<div id="shopInfo">
  <table>
    <tr>
      <td>住所</td>
      <td><%= @shop.address %></td>
    </tr>

    <tr>
      <td>TEL</td>
      <td><%= @shop.shop_detail.tel %></td>
    </tr>

    <tr>
      <td>営業時間</td>
      <td><%= @shop.shop_detail.store_hours %></td>
    </tr>

    <tr>
      <td>休業日</td>
      <td><%= @shop.shop_detail.holiday %></td>
    </tr>

    <tr>
      <td>URL</td>
      <td><a href=<%= @shop.shop_detail.web %> target="_blank" class="shopURL">公式HP</a></td>
    </tr>

    <tr>
      <td>アクセス</td>
      <td><%= @shop.shop_detail.station %></td>
    </tr>

    <div id="slider">
      <div class="slideFrame">
        <div class="slideSet">
          <% Shop.get_shop_pictures_path(@shop).each do |image| %>
            <div class="slide"><img src=<%= image %> width="500" height="200" alt="お店の内装"></div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- <img src = <%= @shop.image_path %>/> -->
  </table>
</div>

<div class="abstract">
  <dl>
    <dt>概要</dt>
    <dd><%= simple_format(@shop.shop_detail.abstract) %></dd>
  </dl>
</div>

<h3 id="goodsLink">商品画像<a href="#accessLink" class="pageLink">▼アクセスへ</a></h3>
<% if request.from_smartphone? %>
  <%= render :partial => "goodsListMobile" %>
<% else %>
  <%= render :partial => "goodsList" %>
<% end %>

<h3 id="accessLink">アクセス<a href="#goodsLink" class="pageLink">▲商品画像へ</a></h3>
<div id="access">
  <div id="access_canvas"></div>
</div>
<%= javascript_include_tag 'slider' %>
