<section id="main">
  <div class="searchConditions">
    <h4>検索条件</h4>
    <dl>
      <dt>ジャンル</dt>
      <dd>：<%= @shops.conditions_categorys.join(",") %></dd>

      <dt>シチュエーション</dt>
      <dd>：<%= @shops.conditions_situation unless @shops.conditions_situation == "false" %></dd>

      <dt>地域</dt>
      <dd>：<%= @shops.area %></dd>
    </dl>
  </div> 

<% if @shops.area.empty? %>
  <div id="map">
    <div id="current_map_canvas"></div>
  </div>
<% else %>
  <div id="map">
    <div id="map_canvas"></div>
  </div>
<% end %>

  <div id="shopList">
    <div class="shopListInner">
      <ul>
        <% @found_shops.each do |shop| %>
        <li>
          <!-- <a href="shop.html"> -->
          <div class="shop">
            <dl>
              <dt>店名：</dt>
              <dd><%= link_to shop.name, shop_path(shop.id) %></dd>

              <dt>住所：</dt>
              <dd><%= shop.address %></dd>
            </dl>
            <img src = <%= shop.image_path %>/>
          </div>
          <!-- </a> -->
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>

<script>
current_handler = Gmaps.build('Google');
current_handler.buildMap({ provider: {}, internal: {id: 'current_map_canvas'}}, function(){
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
  current_markers = current_handler.addMarkers(<%=raw @hash.to_json %>);
  current_handler.bounds.extendWith(markers);
  current_handler.fitMapToBounds();
});

function displayOnMap(position){
  var current_marker = current_handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude
  });
  current_handler.map.centerOn(current_marker);
};
</script>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map_canvas'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>