<section id="main">
  <div class="searchConditions">
    <h4>検索条件</h4>
    <dl>
      <dt>ジャンル</dt>
      <dd>：<%= @shops.conditions_categorys.join(",") %></dd>

      <dt>シチュエーション</dt>
      <dd>：<%= @shops.conditions_situation unless @shops.conditions_situation == "false" %></dd>

      <dt>地域</dt>
      <dd>：<%= @shops.area %></dd>
    </dl>
  </div>

  <div id="map">
		<div id="map_canvas"></div>
	</div>

  <div id="shopList">
    <div class="shopListInner">
      <ul>
        <% @shops.shops.each do |shop| %>
        <li>
          <!-- <a href="shop.html"> -->
            <div class="shop">
            <dl>
                <dt>店名：</dt>
                <dd><%= link_to shop.name, shop_path(shop.id) %></dd>

                <dt>住所：</dt>
                <dd><%= shop.address %></dd>
              </dl>
              <img src = <%= shop.image_path %>/>
            </div>
            <!-- </a> -->
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
