<%= form_for "top", :url => shops_path do |f| %>
  <h1><%= f.label "カテゴリー" %></h1>
  <ul>
    <li><%= f.check_box :category, {id: "top_check1" , class: "checkBox", multiple: true}, "ネックレス", nil %><%= f.label 'check1', "ネックレス" %></li>
    <li><%= f.check_box :category, {id: "top_check2" , class: "checkBox", multiple: true}, "財布", nil %><%= f.label 'check2', "財布" %></li>
    <li><%= f.check_box :category, {id: "top_check3" , class: "checkBox", multiple: true}, "ブレスレット", nil %><%= f.label 'check3', "ブレスレット" %></li>
    <li><%= f.check_box :category, {id: "top_check4" , class: "checkBox", multiple: true}, "指輪", nil %><%= f.label 'check4', "指輪" %></li>
    <li><%= f.check_box :category, {id: "top_check5" , class: "checkBox", multiple: true}, "キーケース", nil %><%= f.label 'check5', "キーケース" %></li>
    <li><%= f.check_box :category, {id: "top_check6" , class: "checkBox", multiple: true}, "腕時計", nil %><%= f.label 'check6', "腕時計" %></li>
    <li><%= f.check_box :category, {id: "top_check7" , class: "checkBox", multiple: true}, "定期入れ", nil %><%= f.label 'check7', "定期入れ" %></li>
    <li><%= f.check_box :category, {id: "top_check8" , class: "checkBox", multiple: true}, "名刺入れ", nil %><%= f.label 'check8', "名刺入れ" %></li>
    <li><%= f.check_box :category, {id: "top_check9" , class: "checkBox", multiple: true}, "バッグ", nil %><%= f.label 'check9', "バッグ" %></li>
    <li><%= f.check_box :category, {id: "top_check10" , class: "checkBox", multiple: true}, "イヤリング", nil %><%= f.label 'check10', "イヤリング" %></li>
    <li><%= f.check_box :category, {id: "top_check11" , class: "checkBox", multiple: true}, "ポーチ", nil %><%= f.label 'check11', "ポーチ" %></li>
    <li><%= f.check_box :category, {id: "top_check12" , class: "checkBox", multiple: true}, "ボールペン", nil %><%= f.label 'check12', "ボールペン" %></li>
    <li><%= f.check_box :category, {id: "top_check13" , class: "checkBox", multiple: true}, "ネクタイ", nil %><%= f.label 'check13', "ネクタイ" %></li>
    <li><%= f.check_box :category, {id: "top_check14" , class: "checkBox", multiple: true}, "スマホケース", nil %><%= f.label 'check14', "スマホケース" %></li>
  </ul>

  <h1><%= f.label "シチュエーション" %></h1>
  <%= f.select :situation, {"未選択" => "false", "present" => "present", "birthday" => "birthday" }, {}, {class: "situationPullDown"} %>

  <h1><%= f.label "地域" %></h1>
  <%= f.text_field :area, :class => 'textField', :placeholder => "未入力なら現在地で検索" %>
<%= f.submit 'お店を検索', :class => 'submitBtn'%>
<% end %>
