<%= form_for "top", :url => shops_path do |f| %>
  <h1 class="formTitle">検索条件の入力</h1>
  <h5 class="formLabel"><%= f.label "買いたいものを選択してください" %><span class="areaWarning">*必須</span></h5>
  <dl id="categoryList">
    <!-- <dt><%= f.label "ファッション" %></dt> -->
    <dd>
      <li><%= f.check_box :category, {id: "top_check1", class: "checkBox", multiple: true}, "ネックレス", nil %><%= f.label 'check1', "ネックレス" %></li>
      <li><%= f.check_box :category, {id: "top_check5", class: "checkBox", multiple: true}, "ペンダント", nil %><%= f.label 'check5', "ペンダント" %></li>
      <li><%= f.check_box :category, {id: "top_check3", class: "checkBox", multiple: true}, "ブレスレット", nil %><%= f.label 'check3', "ブレスレット" %></li>
      <li><%= f.check_box :category, {id: "top_check4", class: "checkBox", multiple: true}, "指輪", nil %><%= f.label 'check4', "指輪" %></li>
      <li><%= f.check_box :category, {id: "top_check10", class: "checkBox", multiple: true}, "イヤリング", nil %><%= f.label 'check10', "イヤリング" %></li>
      <li><%= f.check_box :category, {id: "top_check14", class: "checkBox", multiple: true}, "ピアス", nil %><%= f.label 'check14', "ピアス" %></li>
      <li><%= f.check_box :category, {id: "top_check7", class: "checkBox", multiple: true}, "ブローチ", nil %><%= f.label 'check7', "ブローチ" %></li>
      <li><%= f.check_box :category, {id: "top_check9", class: "checkBox", multiple: true}, "バッグ", nil %><%= f.label 'check9', "バッグ" %></li>
      <li><%= f.check_box :category, {id: "top_check11", class: "checkBox", multiple: true}, "ポーチ", nil %><%= f.label 'check11', "ポーチ" %></li>
      <li><%= f.check_box :category, {id: "top_check2", class: "checkBox", multiple: true}, "財布", nil %><%= f.label 'check2', "財布" %></li>
      <li><%= f.check_box :category, {id: "top_check6", class: "checkBox", multiple: true}, "腕時計", nil %><%= f.label 'check6', "腕時計" %></li>
      <li><%= f.check_box :category, {id: "top_check13", class: "checkBox", multiple: true}, "雑貨", nil %><%= f.label 'check13', "雑貨" %></li>
    </dd>
  </dl>

  <h5 class="formLabel"><%= f.label "地域を入力してください" %></h5>
  <div id="textField"><%= f.text_field :area, :class => 'textField', :placeholder => "例）福岡市"%></div>
  <p class="areaWarning">※未入力の場合，現在地から検索します</p>
  <%= f.submit 'お店を検索', :class => 'submitBtn'%>
<% end %>
